@{
    ViewBag.Title = "Fleet";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
@Html.AntiForgeryToken()
<style>
    .alignRight {
        text-align: right;
    }

    .formHolder {
        height: 500px;
    }

        .formHolder .m_block {
            width: 440px;
        }
</style>
<div id="content_block" class="content_block">
    <br />
    <div id="list-fleet" class="gridBlock inventory_page">
        <div class="head">Fleets
        @if (Convert.ToBoolean(ViewBag.AllowEdit))
        {
            <a id="add-fleet" class="addLead_saveCancel" href="#">Add Fleet</a>
        }
        </div>
        <div class="table-container">
            <table id="grid-fleet" class="display" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        @if (Convert.ToBoolean(ViewBag.AllowEdit))
                        {
                            <th width="8%"></th>
                        }
                        <th width="10%">ID</th>
                        <th width="15%">Make</th>
                        <th width="15%">Model</th>
                        <th width="10%">Year</th>
                        <th width="24%">Current Assignment</th>
                        <th width="10%">Status</th>
                        @if (Convert.ToBoolean(ViewBag.AllowEdit))
                        {
                            <th width="8%"></th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="cust-estimate"></div>

</div>
<script type="text/javascript">
    var data;
    $(document).ready(function () {
        var token = $('[name=__RequestVerificationToken]').val();

        var keyValue = {};
        var custAddresses = [];

        $("#add-fleet").click(function () {
            window.location.href = '@Url.Action("Add", "Fleet")?ID=0';
        });

        $('#grid-fleet').dataTable({
            "order": [[1, "desc"]],
            columnDefs: [
                { className: "dt-left", targets: [0, 1, 2, 3, 5, 6] },
                { className: "dt-right", targets: [4] }
            ],
            "iDisplayLength": 100,
            //"columns": [null, null, null, null, null, { "sClass": "alignRight" },null,null],
            "sAjaxSource": '@Url.Action("GetFleets", "Fleet")',
            //"aLengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ID", "value": 5 });
                $.getJSON(sSource, aoData, function (json) {
                    keyValue = json.keyValue;
                    fnCallback(json);
                });
            }
        });

        $(document).on("click", "#grid-fleet .edit-fleet", function () {
            var id = $(this).attr("data-val");
            window.location.href = '@Url.Action("Add", "Fleet")?ID=' + id;
        });

        function search(nameKey, myArray) {
            for (var i = 0; i < myArray.length; i++) {
                if (myArray[i].ID == nameKey) {
                    return myArray[i].Description;
                }
            }

            return "";
        }

        $(document).on("click", "#grid-fleet .delete-fleet", function () {
            var id = $(this).attr("data-val");
            BootstrapDialog.confirm('Are you sure you want to delete?', function (result) {
                if (result) {
                    openModal();
                    $.ajax({
                        url: '@Url.Action("ToggleFleetStatus", "Fleet")',
                        type: 'POST',
                        data: { fleetID: id, tobeEnabled: false, __RequestVerificationToken: token },
                        success: function (data) {
                            closeModal();
                            window.location.href = '@Url.Action("Index", "Fleet")';
                        }
                    });
                } else {
                    //alert('Nope.');
                }
            });
        });
        $("#fleets-link").addClass("linkBtn linkBtnAdd_Selected");
    });
</script>
