@model KRF.Web.Models.ResetPasswordModel
@{
    ViewBag.Title = "King Roofing - Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>King Roofing - Reset Password</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/themes/base/images/favicon.png")">

    @section Scripts {
        <script type="text/javascript">

            var jQuery_11 = jQuery.noConflict(true);
            function openModal() {
                document.getElementById('modal').style.display = 'block';
                document.getElementById('fade').style.display = 'block';
            }

            function closeModal() {
                document.getElementById('modal').style.display = 'none';
                document.getElementById('fade').style.display = 'none';
            }
            function EnableResetButton() {
                if (jQuery_11("#Password").val() != "Enter Password" && jQuery_11("#ConfirmPassword").val() != "Enter Password" && jQuery_11("#Password").val() == jQuery_11("#ConfirmPassword").val()) {
                    jQuery_11('.loginButton').prop("disabled", false);
                }
                else {
                    jQuery_11('.loginButton').prop("disabled", true);
                }
            }
            jQuery_11(document).ready(function () {
                //jQuery_11('.loginButton').prop("disabled", true);
                var isValidKey = '@Model.IsValidKey';
                if (isValidKey == 'False') {
                    BootstrapDialog.show({
                        message: 'Invalid Key.',
                        closable: false,
                        closeByBackdrop: false,
                        closeByKeyboard: false,
                        onhidden: function (dialogRef) {
                            window.location = "./Login";
                        },
                        buttons: [{
                            label: 'OK',
                            cssClass: 'btn-primary',
                            action: function (dialogRef) {
                                window.location = "./Login";
                            }
                        }]
                    });
                }

                //jQuery_11("#Password").on("keyup", function ()
                //{ EnableResetButton(); });
                //jQuery_11("#ConfirmPassword").on("keyup", function ()
                //{ EnableResetButton(); });
                jQuery_11("#Password").focus(function () {
                    if (jQuery_11(this).val() == "Enter Password")
                        jQuery_11(this).val("");
                    jQuery_11(this).attr("type", "password")

                });
                jQuery_11("#Password").blur(function () {
                    if (jQuery_11(this).val() == "") {
                        jQuery_11(this).val("Enter Password");
                        jQuery_11(this).attr("type", "text")
                    }
                });
                jQuery_11("#ConfirmPassword").focus(function () {
                    if (jQuery_11(this).val() == "Enter Password")
                        jQuery_11(this).val("");
                    jQuery_11(this).attr("type", "password")

                });
                jQuery_11("#ConfirmPassword").blur(function () {
                    if (jQuery_11(this).val() == "") {
                        jQuery_11(this).val("Enter Password");
                        jQuery_11(this).attr("type", "text")
                    }
                });
            });
            function OnSuccess(data) {
                BootstrapDialog.show({
                    message: data.message,
                    closable: false,
                    closeByBackdrop: false,
                    closeByKeyboard: false,
                    onhidden: function (dialogRef) {
                        window.location = "./Login";
                    },
                    buttons: [{
                        label: 'OK',
                        cssClass: 'btn-primary',
                        action: function () {
                            if (data.result) {
                                window.location = "./Login";
                            }
                        }
                    }]
                });

            }
            function OnFailure(data) {
                BootstrapDialog.show({
                    message: data.message,
                    closable: false,
                    closeByBackdrop: false,
                    closeByKeyboard: false,
                    onhidden: function (dialogRef) {
                        window.location = "./Login";
                    },
                    buttons: [{
                        label: 'OK',
                        cssClass: 'btn-primary',
                        action: function () {
                            if (data.result) {
                                window.location = "./Login";
                            }
                        }
                    }]
                });
            }
            function OnComplete(data) {
                closeModal();
            }
            function OnBegin(data) {
                if (jQuery_11("#Password").val() == "Enter Password") {
                    BootstrapDialog.alert('Please enter new password.')
                    return false;
                }
                if (jQuery_11("#ConfirmPassword").val() == "Enter Password") {
                    BootstrapDialog.alert('Please enter confirm password.')
                    return false;
                }
                if (jQuery_11("#Password").val() != "Enter Password" && jQuery_11("#ConfirmPassword").val() != "Enter Password" && jQuery_11("#Password").val() != jQuery_11("#ConfirmPassword").val()) {
                    BootstrapDialog.alert('New password and confirm password do not match.')
                    return false;
                }
                openModal();

            }
        </script>
    }
    <style>
        /* Generic Styles*/
        .form_popup {
            width: 900px;
            height: 600px;
            background: #fff;
            top: 40px;
            left: 0;
            right: 0;
            /*bottom: 0;*/
            z-index: 4;
            position: absolute;
            margin: auto;
            display: none;
        }

        #forogt_password_form_popup {
            height: 220px;
            width: 500px;
        }

            #forogt_password_form_popup .content_block {
                width: 100% !important;
            }

            #forogt_password_form_popup .formHolder {
                height: 80px !important;
                width: 100%;
            }

        .gridBlockLarge_btnHolder_head {
            width: 100%;
            padding-left: 0px;
        }


        .alert {
            font-size: 13px;
        }

        #fade {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ababab;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .70;
            filter: alpha(opacity=80);
        }

        #modal {
            display: none;
            position: fixed;
            top: calc(50% - 32px);
            left: calc(50% - 32px);
            width: 64px;
            height: 64px;
            padding: 30px 15px 0px;
            border: 3px solid #ababab;
            box-shadow: 1px 1px 10px #ababab;
            border-radius: 20px;
            background-color: white;
            z-index: 1002;
            text-align: center;
            overflow: auto;
        }

        .loginWraper {
            width: 453px;
            height:100%;
        }

            .loginWraper .logo {
                width: 453px;
            }


            .loginWraper .holder .row {
                width: 453px;
            }

                .loginWraper .holder .row .colLeft {
                    width: 150px;
                }

                .loginWraper .holder .row .colRight {
                width:250px;
                }
                    .loginWraper .holder .row .colRight .input {
                        width: 200px;
                    }
    </style>

</head>
<body>
    @using (Ajax.BeginForm("ResetPassword", "Account", new AjaxOptions { OnBegin = "OnBegin", OnSuccess = "OnSuccess", OnFailure = "OnFailure", OnComplete = "OnComplete", HttpMethod = "POST" }))
    {
        @Html.AntiForgeryToken()
        <section class="loginWraper" id="loginForm">
            @Html.ValidationSummary(true)
            <div class="logo"><img src="@Url.Content("~/Content/themes/base/images/Login_logo.jpg")"></div>
            <div class=" title"></div>
            <div class="holder">
                <div class="row">
                    <div class="colLeft">New Password</div>
                    <div class="colRight">
                        <img src="@Url.Content("~/Content/themes/base/images/pass_ico.jpg")" />
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "input", @Value = "Enter Password", @id = "Password" })
                    </div>
                </div>
                <div class="row">
                    <div class="colLeft">Confirm Password</div>
                    <div class="colRight">
                        <img src="@Url.Content("~/Content/themes/base/images/pass_ico.jpg")" />
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input", @Value = "Enter Password", @id = "ConfirmPassword" })
                    </div>
                </div>
                <div class="row">
                    <input type="submit" value="Reset" class="loginButton">
                    @Html.HiddenFor(m => m.Key, new { @Value = @Model.Key })
                </div>
                <div class="row" style="height:55px; margin-top:20px;">
                    <div class="colRightBlank" style="text-align:center;width:100%; height:100%">
                        <a href="http://www.myprogrammer.com" style="font-size:0.7em">Web Development by MyProgrammer</a><br />
                    </div>
                </div>
            </div>
        </section>
    }

</body>
</html>
